@import "reset.css";

.card {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px;
	justify-content: center;
}

.sobre {
	padding: 20px;
	border-radius: 2em;
	width: 45vw;
	height: 30vh;
	background-color: white;
}

.descritionSobre {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.fotos {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 2%;
}

.imagens{
	width: 30%;
	height: 30%;
	padding: 15px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.descriptionModal {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px 0 60px;
	border: 1px solid #888;
	width: 80%;
	max-width: 900px;
	border-radius: 5px;
}

.close {
	color: #54595e;
	float: right;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.descritionSobre h1 {
	font-size: 25px;
	text-align: center;
}

.descritionSobre p {
	font-size: 25px;
	text-align: center;
	font-weight: bold;
}

.descritionSobre button {
	width: 45%;
	height: 15%;
	border-radius: 2px;
	padding: 5px;
	cursor: pointer;
	background-color: green;
	color: white;
}

.descriptionModal p { 
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

.imagens img {
	width: 28vw;
	height: 35vh;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}


.imagens img:hover{
	-moz-transform: scale(1.8);
	-webkit-transform: scale(1.8);
	transform: scale(1.8);
}

.imagens h2 {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}


@media screen and (max-width: 842px) {
	.descritionSobre p{
		font-size: 15px;
	}

	.imagens h2{
		font-size: 15px;
	}
}

@media screen and (max-width: 758px) {	
	.descritionSobre p{
		font-size: 15px;
	}

	.imagens{
		width: 40vw;
	}

	.imagens img{
		width: 36vw;
	}
}

@media screen and (max-width: 600px) {
	.sobre{
		height: 25vh;
	}

	.fotos{
		display: flex;
		flex-direction: row;
		gap: 0.90em;
	}

	.imagens{
		width: 40vw;
	}

	.descritionSobre h1 {
		font-size: 15px;
	}

	.descritionSobre p {
		font-size: 15px;
	}


	.imagens h2 {
		font-size: 15px;
	}

	.descritionSobre button {
		width: 100%;
	}

	.imagens img{
		width: 36vw;
		height: 20vh;
	}

	.imagens img:hover{
		-moz-transform: scale(1.5);
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
}

@media screen and (max-width: 425px){
	.descritionSobre p{
		font-size: 10px;
	}

	.imagens h2{
		font-size: 10px;
	}

	.descritionSobre button{
		font-size: 10px;
	}
}
