@import "reset.css";

.cabecalho{
	background-color: #f5f5dc;
	height: 15vh;
	padding: 2%;
}

.items{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 4rem;
}

.item a{
	font-size: 28px;
	color: red;
}

@media screen and (max-width: 600px){
	.cabecalho{
		display: flex;
		justify-content: flex-end;
	}

	.items{
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
	}

	.item a{
		font-size: 14px;
	}
}